---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Output from "../../components/Output.astro";
import Prompt from "../../components/Prompt.astro";
import Indented from "../../components/Indented.astro";
import BlogPostMetadata from "../../components/BlogPostMetadata.astro";

export const getStaticPaths = (async () => {
    const posts = await getCollection("posts");

    return posts.map((entry) => {
        return {
            params: { slug: entry.id },
            props: { post: entry },
        };
    });
}) satisfies GetStaticPaths;

const { post: entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
    <Prompt>site blog cat "{entry.id}"</Prompt>
    <Output>
        <h1>{entry.data.title}</h1>
        <Indented>
            <BlogPostMetadata {entry} />
        </Indented>
    </Output>
    <Output>
        <Content />
    </Output>
</Layout>
