---
import { getCollection } from "astro:content";
import Output from "../../components/Output.astro";
import Prompt from "../../components/Prompt.astro";
import BlogPostEntry from "../../components/BlogPostEntry.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("posts"))
    .sort((a, b) => a.data.created.getTime() - b.data.created.getTime())
    .reverse();
---

<Layout title="Blog posts">
    <Fragment slot="head">
        <meta name="description" content="blog posts posted on soopy.moe." />
    </Fragment>
    <Prompt>site posts list</Prompt>
    <Output>
        <p>There are currently <span class="text-green">{posts.length}</span> blog posts.</p>
        <div class="h-feed">
            <data class="p-name" value="Blog posts on soopy.moe"></data>
            <data class="u-url" value={Astro.url.pathname}></data>
            {
                posts.map((entry) => (
                    <div class="h-entry">
                        <BlogPostEntry {entry} />
                    </div>
                ))
            }
        </div>
    </Output>
</Layout>
