---
import { getCollection } from "astro:content";
import Output from "../../components/Output.astro";
import Prompt from "../../components/Prompt.astro";
import BlogPostEntry from "../../components/BlogPostEntry.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("posts"))
    .sort((a, b) => a.data.created.getTime() - b.data.created.getTime())
    .reverse();
---

<Layout title="Blog posts">
    <Fragment slot="head">
        <meta name="description" content="blog posts posted on soopy.moe." />
    </Fragment>
    <Prompt>site posts list</Prompt>
    <Output>
        <h1>Blog posts</h1>
        {posts.map((entry) => <BlogPostEntry {entry} />)}
    </Output>
</Layout>
