@font-face {
    font-family: "Kosugi Maru";
    font-display: swap;
    font-style: normal;
    src: url('/fonts/KosugiMaru/KosugiMaru-Regular.woff2') format('woff2'),
         url('/fonts/KosugiMaru/KosugiMaru-Regular.ttf') format('ttf');
}
