:root {
    --base: rgb(239, 241, 245);
    --text: rgb(76, 79, 105);
    --muted: rgb(140, 143, 161);

    --red: rgb(210, 15, 57);
    --green: rgb(64, 160, 43);
    --yellow: rgb(223, 142, 29);
    --blue: rgb(30, 102, 245);
    --pink: rgb(234, 118, 203);
    --teal: rgb(23, 146, 153);
}

@media (prefers-color-scheme: dark) {
    :root {
        --base: rgb(30, 30, 46);
        --text: rgb(205, 214, 244);
        --muted: rgb(127, 132, 156);

        --red: rgb(243, 139, 168);
        --green: rgb(166, 227, 161);
        --yellow: rgb(249, 226, 175);
        --blue: rgb(137, 180, 250);
        --pink: rgb(245, 194, 231);
        --teal: rgb(148, 226, 213);
    }
}

body,
code {
    font-family: "Ubuntu Mono", 'Kosugi Maru', monospace;
}

body {
    // https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjMwMHB4IiwibWF4V2lkdGgiOiI3NjhweCIsIm1pbkZvbnRTaXplIjoiMXJlbSIsIm1heEZvbnRTaXplIjoiMS4yNXJlbSJ9
    font-size: clamp(1rem, 0.8397rem + 0.8547vw, 1.25rem);
    color: var(--text);
    background-color: var(--base);

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 768px;

    overflow: scroll;
    overflow-wrap: break-word;

    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.astro-code {
    padding: 1ch;
    border-radius: 0.5rem;
    border: 1px solid var(--text);

    @media (prefers-color-scheme: dark) {

        &,
        & span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
            font-style: var(--shiki-dark-font-style) !important;
            font-weight: var(--shiki-dark-font-weight) !important;
            text-decoration: var(--shiki-dark-text-decoration) !important;
        }
    }
}

a {
    color: var(--blue);
    transition-duration: 0.25s;
    transition-property: padding, color, background-color;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus {
        color: var(--base);
        background-color: var(--blue);
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}

.text-muted {
    color: var(--muted);
}

// rgybpt
.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.text-yellow {
    color: var(--yellow);
}

.text-blue {
    color: var(--blue);
}

.text-pink {
    color: var(--pink);
}

.text-teal {
    color: var(--teal);
}

// spacing
p,
ul {
    margin: 0; // terminal like spacing
}

ul {
    padding-left: 2ch;
    list-style-type: '- ';

    &:first-child {
        padding: 0;
    }
}

h1,
h2,
h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 0 0;
    color: var(--pink);

    &:before {
        white-space: pre;
        color: var(--muted);
    }
}

h1:before {
    content: '# ';
}

h2:before {
    content: '## ';
}

h3:before {
    content: '### ';
}

// astro-icons
[data-icon] {
    vertical-align: middle;
}
