---
import Prompt from "../components/Prompt.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="meow">
    <p class="text-yellow"><b>WARNING:</b> Here be dragons - construction in progress!</p>
    <Prompt>meow</Prompt>
    <Prompt prompt="(mrow 1) ">exit</Prompt>
</Layout>
