@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --mblue: #55cdfc;
    --apink: #f7a8b8;
    color: #fff;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 20%;
    height: auto;
    max-width: 50%;

    border-radius: 75%;
}

html {
    background-color: #3b3b3b;
    /*background-color: lightsteelblue;*/
    font-family: 'Noto Sans', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

.flex-item {
    margin: auto;
    flex: 1 0 calc(40%);
}

.center {
    text-align: center;
    align-items: center;
    /*margin: 0 auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.mono {
    font-family: 'Fira Code', monospace;
}

.test-border {
    border: 2px solid lightgreen;
}

th td {
    font-size: 30px;
}

td.head {
    text-decoration: underline;
    /*font-weight: bold;*/
}

small {
    font-size: smaller;
}

.hidden {
    color: transparent;
}

.footer {
    background-color: rgba(164, 177, 245, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    padding-left: 10%;
}

@media (hover: hover){
    .mobile {
        display: none;
    }
}

a, a:active, a:hover{
    color: var(--mblue);
}

a:visited {
    color: #7788ff;
}

table a {
    color: #77dd77;
}

table a:visited {
    color: #734f96;
}

table a:active, table a:hover{
    color: #d70270;
}
