---
import type { CollectionEntry } from "astro:content";

import Indented from "./Indented.astro";
import BlogPostMetadata from "./BlogPostMetadata.astro";

interface Props {
    entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
---

<div>
    <BlogPostMetadata {entry} />
    <Indented>
        <p><a class="u-url" href={`/blog/${entry.id}`}>[read]</a></p>
    </Indented>
</div>
