<!-- <span class="text-green">[{(performance.measure("failure").duration / 1000).toFixed(6).padStart(12, " ")}]</span> -->
<!-- not sure why that stopped working -->
<span class="text-green">[    0.000000]</span>

<style lang="scss">
    span {
        white-space: pre;
    }
</style>
