---
const {prompt = "$ "} = Astro.props;
---

<p>
    <slot />
</p>

<style lang="scss" define:vars={{prompt: `'${prompt}'`}}>
    p:before {
        content: var(--prompt);
        color: var(--blue);
    }
</style>
