@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
    $utilities, 
    (
        "width": (
            property: width,
            class: w,
            values: (
                5: 5%,
                10: 10%,
                25: 25%,
                50: 50%,
                75: 75%,
                100: 100%,
                auto: auto
            )
        ),
        "blackground-color": map-merge(
            map-get($utilities, "background-color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "background-color"), "values"),
                    (
                        $all-colors
                    ),
                ),
            ),
        ),
        "color": map-merge(
            map-get($utilities, "color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "color"), "values"),
                    (
                        $all-colors
                    ),
                ),
            ),
        ),
    )
);

$placeholder-opacity-min:   .1;
$placeholder-opacity-max:   .5;

@import "../../node_modules/bootstrap/scss/utilities/api";

// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/root";

// @import "../../node_modules/bootstrap/scss/containers";
