---
import "@fontsource/ubuntu-mono";
import "@csstools/normalize.css";

import "../styles/kosugimaru.scss";
import "../styles/main.scss";

import Prompt from "../components/Prompt.astro";
import Output from "../components/Output.astro";
import dayjs from "dayjs";
import { Image } from "astro:assets";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="https://www.libravatar.org/avatar/58a08528a7e2b3fd738b25d0c63f5c82?s=512" />
        <meta name="generator" content={Astro.generator} />
        <title>site@soopy:~{Astro.url.pathname} {title && "| " + title}</title>
    </head>
    <body>
        <Output><p>Last login: {dayjs().format("ddd MMM DD HH:mm:ss YYYY")}</p></Output>
        <p id="screen-warning" class="text-yellow">
            <b>WARN:</b> Your screen is a little too compact. Some command outputs may become garbled.
        </p>
        <p class="text-yellow"><b>WARN:</b> Construction in progress!</p>
        <header>
            <Prompt>pwd && eza -D ~/pages</Prompt>
            <Output>
                <p>~{Astro.url.pathname}</p>
                <div id="dir-listing">
                    <a href="/">home</a>
                    <a href="/blog">blog</a>
                    <a href="/about">about</a>
                </div>
            </Output>
        </header>

        <slot />

        <footer>
            <Prompt>nix run /flake#footer</Prompt>
            <!-- Webrings -->
            <Output>
                <p>Webrings:</p>
                <ul>
                    <li>
                        <a href="//webring.bucketfish.me">bucketfish</a>
                        <a href="//webring.bucketfish.me/redirect.html?to=prev&name=soopyc">[prev]</a>
                        <a href="//webring.bucketfish.me/redirect.html?to=next&name=soopyc">[next]</a>
                    </li>
                </ul>

                <p>Source code: <a href="//github.com/soopyc/soopyc.github.io">github:soopyc/soopyc.github.io</a></p>
            </Output>

            <Prompt>nix run /flake#buttons</Prompt>
            <Output>
                <div id="buttons">
                    <Image width="88" height="31" src="/images/buttons/transnow2.gif" alt="trans rights now" />
                    <Image width="88" height="31" height="31" src="/images/buttons/valid-bad.gif" alt="w3c certified bad html" />
                    <Image width="88" height="31" src="/images/buttons/valid-css-blue.gif" alt="w3c valid css" />
                    <Image width="88" height="31" src="/images/buttons/windose20.png" alt="windose 20 from needy streamer overload" />
                </div>
            </Output>

            <Prompt>^D</Prompt>
            <Output>logout</Output>
        </footer>
    </body>
</html>

<style lang="scss">
    #screen-warning {
        display: block;

        @media (min-width: 50ch) {
            display: none;
        }
    }

    #dir-listing, #buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;
    }
</style>
